* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3A3A3A;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%233A3A3A' width='11' height='11'/%3E%3Crect fill='%233d3d3c' x='10' width='11' height='11'/%3E%3Crect fill='%233f3f3f' y='10' width='11' height='11'/%3E%3Crect fill='%23424241' x='20' width='11' height='11'/%3E%3Crect fill='%23454443' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23474746' y='20' width='11' height='11'/%3E%3Crect fill='%234a4948' x='30' width='11' height='11'/%3E%3Crect fill='%234d4c4a' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23504f4d' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2352514f' y='30' width='11' height='11'/%3E%3Crect fill='%23555452' x='40' width='11' height='11'/%3E%3Crect fill='%23585754' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%235b5956' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%235e5c59' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23615f5b' y='40' width='11' height='11'/%3E%3Crect fill='%2363615e' x='50' width='11' height='11'/%3E%3Crect fill='%23666460' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23696763' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%236c6a65' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%236f6d68' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23726f6a' y='50' width='11' height='11'/%3E%3Crect fill='%2375726d' x='60' width='11' height='11'/%3E%3Crect fill='%2378756f' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%237b7872' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%237e7b74' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23817e77' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2384807a' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2387837c' x='70' width='11' height='11'/%3E%3Crect fill='%238a867f' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%238d8981' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23908c84' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23938f87' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23969289' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%239a958c' x='80' width='11' height='11'/%3E%3Crect fill='%239d988f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23a09b91' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23a39e94' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23a6a197' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23a9a499' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23aca79c' x='90' width='11' height='11'/%3E%3Crect fill='%23b0aa9f' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23b3ada2' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23b6b0a4' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23b9b3a7' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23bcb6aa' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23c0b9ad' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c3bcaf' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23c6bfb2' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23c9c2b5' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23cdc5b8' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23d0c9ba' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23d3ccbd' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23d7cfc0' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23dad2c3' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ddd5c6' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23e1d8c9' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23e4dbcb' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23e7dfce' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ebe2d1' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEE5D4' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.contenedor {
    text-align: center;
    }


    .descripcion {
        position: relative;
        width: 70%;
        min-width: 450px;
        background-color: black;
        padding: 60px 40px 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        color: aliceblue;
        font-size: 120%;
        border-radius: 50px;
    }
    
    

.titulo {
    background-color: white;
    position: relative;
    width: 10%;
    min-width: 150px;
    max-width: 180px;
    border: 10px double black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    top: 40px;
    z-index: 1;
}
